# Maven
target/
*.class
*.jar
*.war
*.ear
*.tar.gz
*.rar
*.log

# Maven Wrapper
!mvnw
!mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db
desktop.ini

# Project specific
uploads/
.vim/
*.xlsx
